* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
header {
  background: url(images/desktop/image-header.jpg);
  background-position: 50% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
header h1 {
  font-size: 70px;
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  margin: 80px 0;
  color: white;
}
#icon-arrow {
  position: absolute;
  left: 50%;
  height: 100px;
}
#nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}
#desktop-nav li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
ul li a:hover {
  color: rgb(1, 78, 105);
  transition: all 0.5s ease;
  -o-transition: ease 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
#btn:hover {
  background: rgb(151, 228, 255);
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
  -o-transition: ease 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
#btn {
  color: hsl(213, 9%, 39%);
  background: white;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
}
#mobile-menu {
  display: none;
}
#mobile-menu ul {
  display: none;
  list-style: none;
}
#hamburger {
  display: none;
}
#grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "second first"
    "third fourth"
    "fifth sixth";
  overflow: hidden;
}
#transform-img {
  background: url(images/desktop/image-transform.jpg);
  grid-area: first;
}
#transform-img img {
  width: 50vw;
}
#transform {
  grid-area: second;
  padding: 90px 50px 90px 130px;
}
#transform h2,
#stand-out h2 {
  font-family: "Fraunces", serif;
  font-size: 43px;
  color: rgb(50, 50, 50);
}
#transform p,
#stand-out p {
  margin: 50px 0;
  color: hsl(210, 4%, 67%);
  line-height: 25px;
}
#transform button {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  padding: 0 10px;
  border: none;
  border-bottom: 3px solid hsla(60, 100%, 50%, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: none;
}
#transform button:hover {
  border-bottom: 3px solid hsl(60, 100%, 50%);
  transition: all 0.5s ease;
  -o-transition: ease 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
#stand-out-img {
  background: url(images/desktop/image-stand-out.jpg);
  grid-area: third;
}
#stand-out-img img {
  width: 50vw;
}
#stand-out {
  grid-area: fourth;
  padding: 90px 50px 90px 130px;
}
#stand-out button {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  padding: 0 10px;
  border: none;
  border-bottom: 3px solid hsla(7, 99%, 70%, 0.493);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: none;
}
#stand-out button:hover {
  border-bottom: 3px solid hsla(7, 99%, 70%);
  transition: all 0.5s ease;
  -o-transition: ease 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  cursor: pointer;
}
#design {
  grid-area: fifth;
  background: url(images/desktop/image-graphic-design.jpg);
  width: 50vw;
  height: 80vh;
  height: 90vh;
  padding: 100px;
  padding-top: 400px;
  text-align: center;
  color: hsl(167, 40%, 24%);
  line-height: 25px;
}
#design h2 {
  font-family: "Fraunces", serif;
  font-size: 30px;
}
#design p,
#photography p {
  margin: 25px;
}
#photography {
  grid-area: sixth;
  background: url(images/desktop/image-photography.jpg);
  width: 50vw;
  height: 90vh;
  padding: 100px;
  padding-top: 400px;
  text-align: center;
  color: hsl(198, 62%, 26%);
  line-height: 25px;
}
#photography h2 {
  font-family: "Fraunces", serif;
  font-size: 30px;
}
#testimonial-flex {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}
#testimonial h3 {
  text-align: center;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  padding: 175px 0 30px 0;
  font-weight: 900;
  letter-spacing: 5px;
  color: hsl(232, 10%, 55%);
}
.client-div {
  text-align: center;
  padding: 5px;
  line-height: 30px;
}
h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.testimony {
  color: hsl(213, 9%, 39%);
  margin: 50px 0;
}
.client {
  width: 75px;
  border-radius: 100%;
}
.position {
  color: hsl(232, 10%, 55%);
  font-size: 14px;
  margin-bottom: 50px;
}
#image-flex {
  display: flex;
  overflow: hidden;
}
#milk {
  background: url(images/desktop/image-gallery-milkbottles.jpg);
  width: 315.75px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
#orange {
  background: url(images/desktop/image-gallery-orange.jpg);
  width: 315.75px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
#cone {
  background: url(images/desktop/image-gallery-cone.jpg);
  width: 315.75px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
#sugar {
  background: url(images/desktop/image-gallery-sugarcubes.jpg);
  width: 315.75px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  text-align: center;
  padding: 25px;
  background: rgb(131, 214, 196);
  box-sizing: border-box;
}
h3 {
  font-family: sans-serif;
  margin: 25px;
  color: rgb(49, 120, 106);
  font-weight: 900;
  font-size: 30px;
}
footer p a {
  margin: 25px;
  color: hsl(168, 34%, 41%);
  text-decoration: none;
}
footer p a:hover {
  color: white;
  transition: all 0.5s ease;
  -o-transition: ease 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.social-media {
  margin: 50px 10px;
}
.social-media img {
  transition: all 0.5s ease;
  cursor: pointer;
}
.attribution {
  color: rgb(49, 120, 106);
}
.attribution a {
  color: rgb(55, 83, 79);
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  header {
    background: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  header h1 {
    font-size: 40px;
  }
  #desktop-nav {
    display: none;
  }
  .mobile-nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #mobile-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background: white;
    width: 90vw;
    height: 350px;
    text-align: center;
    margin: 50px 0;
  }
  #mobile-menu ul {
    display: block;
  }
  #mobile-menu ul li {
    padding: 30px;
  }
  #mobile-menu ul li a {
    color: hsl(210, 4%, 67%);
  }
  #mobile-btn {
    background: hsl(51, 100%, 49%);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    color: black;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
  }
  #hamburger {
    display: block;
  }
  #grid-container {
    display: flex;
    flex-direction: column;
  }
  #transform-img {
    width: 100vw;
    height: 100vh;
    background: url(images/mobile/image-transform.jpg);
    background-position: center;
  }
  #stand-out-img {
    width: 100vw;
    height: 100vh;
    background: url(images/mobile/image-stand-out.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  #design {
    width: 100vw;
    height: auto;
    padding: 200px 10px 50px 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #photography {
    width: 100vw;
    height: auto;
    padding: 200px 10px 50px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #design p,
  #photography p {
    margin: 5px;
  }
  #transform,
  #stand-out {
    text-align: center;
  }
  #transform,
  #stand-out {
    padding: 25px;
  }
  #testimonial-flex {
    flex-direction: column;
    padding: 10px;
  }
  #image-flex {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "first second"
      "third fourth";
  }
  #milk {
    width: 50vw;
    height: 50vw;
    background: url(images/mobile/image-gallery-milkbottles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: first;
  }
  #orange {
    width: 50vw;
    height: 50vw;
    background: url(images/mobile/image-gallery-orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: second;
  }
  #cone {
    width: 50vw;
    height: 50vw;
    background: url(images/mobile/image-gallery-cone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: third;
  }
  #sugar {
    width: 50vw;
    height: 50vw;
    background: url(images/mobile/image-gallery-sugar-cubes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: fourth;
  }
  footer p a {
    margin: 10px;
  }
}
